<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
</head>
<body>
  <%= render 'shared/header' %>
  <main>
    <section>
      <div>
        <h1> La team </h1>
        <p> Manon, solo et complétement paumé yeeeh </p>
      </div>
    </section>
  </main>
</body>
</html>