<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
</head>
<body>
  <%= render 'shared/header' %>
  <main>
    <section class=section_center>
      <div>
        <h1> Contactez-nous </h1>
        <p class=center> Rue de la paumerie, 31000 Toulouse <br> 07 85 49 85 47 (faux numéro, ne pas utiliser) <br>manon.paume@gmail.com</p>
      </div>
    </section>
  </main>
</body>
</html>