@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

header {
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-link {
  font-family: "Open-Sans", sans-serif;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  padding-right: 8px;
  padding-top: 0;
}

.navbar-link :active {
  font-weight: 600;
  color: #eb6365;
}

section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 2rem;
}

.align_center {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  width: 100%;
}

.form-control {
  font-family: "Open-Sans", sans-serif;
  font-size: 11px;
  font-weight: 200;
  font-style: italic;
}

.margin_title {
  margin-bottom: 1rem;
}

.section_center {
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  padding: 0;
}

.section_potin {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.btn:hover {
  background-color: #f0315f;
  color: white;
}

.btn_profil:hover {
  background-color: #f0315f;
  color: white;
}


.btn {
  text-decoration: none;
  border: none;
  border-radius: 999px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #0001f5;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}

.btn_profil{
  text-decoration: none;
  border: none;
  border-radius: 999px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #0001f5;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}

.card {
  border: 0.5px solid #0001f5;
}

.cards {
  justify-content: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 26px;
  font-style: normal;
  color: #0001f5;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.alert {
  font-size: 11px;
  width: 100%;
  border-radius: 0;
  padding: 2px;
  margin: 0px;
  text-align: center;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  color: black;
  margin: 0;
}

.align_row {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

p {
  font-family: "Open-Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  padding-top: 10px;
}

.p_petit {
  font-family: "Open-Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  width: 300px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.secondary_button {
  text-decoration: none;
  border: 0.5px solid #f0315f;
  border-radius: 999px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #f0315f;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  height: fit-content;
  margin: 0px;
  background-color: white;
  align-self: center;
}

.secondary_button:hover {
    border: 0.5px solid #0001f5;
    color: #0001f5;
}

.space_between {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.space_between_inline {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.comment{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;

}

.comment_details{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 0.8rem;
}


.comment_form{
    width: 300px;
    height: 50px;
    margin-bottom: 0.5rem;
}

.accueil{
    margin-top: 5rem;
}

.comment_p{
    margin-bottom: 0.1rem;
    padding: 0.1rem;
}

.color{
    color:#0001f5;
    font-size: 40px;
}

i:hover{
    color: #f0315f;
}

.no{
    margin: 0px;
    padding: 0px;
}

.bloc_profil{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
}

.lieu{
    margin-top: 10px;
    margin-bottom: 10px;
}

.blue{
    color:#0001f5;
    font-size: 15px;
}

.tag{
    margin-bottom: 10px;
    font-weight: 700;
    color: #0001f5;
}

.no_decoration{
  background: none;
  border: none;
}

.like{
  color:#0001f5;
  font-size: 20px;

}

.align_right{
  align-self:flex-end;
}
